<div class="card employee-card m-2 border-0">
    <div class="card-header bg-secondary text-light text-center">
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title"><i class="fas fa-glasses mr-2"></i>{{ role }}</h3>
    </div>
    <div class="card-body bg-light">
        <ul class="list-group">
            <li class="list-group-item bg-light border-0"><strong>ID:</strong> {{ id }}</li>
            <li class="list-group-item bg-light border-0"><strong>Email:</strong> <a href="mailto:{{ email }}"  class="text-info">{{ email }}</a></li>
            <li class="list-group-item bg-light border-0"><strong>GitHub:</strong> <a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer" class="text-info">{{ github }}</a></li>
        </ul>
    </div>
</div>
